.App {
    width: 800px;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    display: flex;
    border-style: solid;
    border-color: black;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
    margin-top: 15px;
}

.post-enter {
    transform: translateX(-350px);
}

.post-enter-active {
    opacity: 1;
    transform: translateX(0px);
    transition: all 500ms ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {

    transform: translateX(-100%);
    transition: all 500ms ease-in;
}